@import "colorscheme.css";

#waybar {
  color: @text;
  background-color: transparent;
  margin: 3px 3px;
}

#workspaces {
  border-radius: 1rem;
  margin: 1px;
  margin-left: 1rem;
  background-color: @surface0;
}

#workspaces button {
  color: @text;
  border-radius: 1rem;
  background-color: transparent;
}

#workspaces button.active {
  color: @surface1;
  border-radius: 1rem;
  background-color: @lavender;
}
